<%- include('load/index') %>

<!-- Incluir la barra lateral -->
<%- include('load/nav-header') %>

<!-- Contenedor principal -->
<main class="main-content">
  <div class="container mt-5">
    <h1 class="display-4">Bienvenido a tu nuevo Dash Board</h1>
    <p class="lead">preciona el boton que dice landing para mas info.</p>
    <button class="btn btn-primary"><a href="/landing" style="color: #fff; text-decoration: none;">Landing</a></button>
  </div>
  <div class="container mt-5">
    <h1></h1>
  </div>
</main>