<header>
  <!-- Barra lateral izquierda -->
  <nav class="sidebar bg-dark text-white" style="width: 250px; height: 100vh; position: fixed; top: 0; left: 0; padding: 20px;">
    <h2><a class="nav-link text-white" href="/">MiDashBoard</a></h2>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/board">Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/agregar-receta">Agregar Receta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/agregar-insumos">Agregar Insumo</a>
        </li>
        <li>
          <a class="nav-link text-white" href="/landing" style="margin-top: 900px">landing</a>
        </li>
      </ul>
  </nav>
</header>